Simple MNIST NN from scratch (numpy , no TF/Keras)

In [5]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt


data = pd.read_csv('sample_submission.csv')

In [2]:
data

       ImageId  Label
0            1      0
1            2      0
2            3      0
3            4      0
4            5      0
...        ...    ...
27995    27996      0
27996    27997      0
27997    27998      0
27998    27999      0
27999    28000      0

[28000 rows x 2 columns]

In [3]:
data.head()

   ImageId  Label
0        1      0
1        2      0
2        3      0
3        4      0
4        5      0

In [4]:
data.describe()

            ImageId    Label
count  28000.000000  28000.0
mean   14000.500000      0.0
std     8083.048105      0.0
min        1.000000      0.0
25%     7000.750000      0.0
50%    14000.500000      0.0
75%    21000.250000      0.0
max    28000.000000      0.0

In [12]:
data = np.array(data)
data

m, n = data.shape
np.random.shuffle(data)

data_dev = data[0:1000].T
Y_dev = data_dev[0]
X_dev = data_dev[1:n]
X_dev   = X_dev / 255.   


data_train = data[1000:m].T
Y_train = data_train[0]
X_train = data_train[1:n]
X_train = X_train / 255.
_,m_train = X_train.shape

In [13]:
Y_train

array([27286,  2174, 13036, ...,  1499,  6424,  2126], dtype=int64)